.center-table {
    margin: 0 auto;
}

.styled-table {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto; /* Menambahkan margin otomatis di sisi kiri dan kanan untuk membuat tabel berada di tengah */
}

.styled-table th,
.styled-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.styled-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #e2e2e2;
}
